$bg: #161718;
$text: #e1ebf9;
$accent: #0051ff;

:root {
    color: $text;
    background-color: $bg;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    margin-bottom: 3.5rem;
    color: $accent;
}

.board {
    position: relative;

    width: 1280px;
    height: 720px;
    border: 2px dashed rgba(97, 114, 137, 0.35);
    border-radius: 12px;
    background: rgba(6, 6, 7, 0.7);
    box-sizing: border-box;
}

.board * {
    position: relative;
}