$bg: #161718;
$text: #e1ebf9;
$accent: #0051ff;

:root {
    color: $text;
    background-color: $bg;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    margin-bottom: 3.5rem;
    color: $accent;
}

.board {
    position: relative;

    width: 1280px;
    height: 720px;
    border: 2px dashed rgba(97, 114, 137, 0.35);
    border-radius: 12px;
    background: rgba(6, 6, 7, 0.7);
    box-sizing: border-box;
    overflow: hidden;
}

.board * {
    position: absolute;
}

// CARREGAMENTO
.loading {
    background-color: #000000c5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $text;
    position: fixed;
    z-index: 999999999999999999999;
}
.loading >ul >li.warn {
    color: #ffae00;
}
.loading >ul >li.error {
    color: #e90000;
}
.loading >ul >li.log {
    color: $text;
}
.loading.hidden {
    display: none;
}
.loading >ul >li {
    list-style: none;
}